<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      Recipe Instructions
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  
  <ion-card>

    <ion-item>
      <h2>{{ recipeDetails.name }}</h2>
      <p>{{ recipeDetails.id }}</p>
    </ion-item>

    <img src="https://www.bbcgoodfood.com/sites/default/files/recipe-collections/collection-image/2013/05/frying-pan-pizza-easy-recipe-collection.jpg">

    <ion-card-content>
      {{ recipeDetails.body }}
    </ion-card-content>

    <ion-row>
      <ion-col>
        <button ion-button icon-left clear small>
          <ion-icon name="heart"></ion-icon>
          <div>Save recipe</div>
        </button>
      </ion-col>
    </ion-row>

  </ion-card>

</ion-content>
