<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      {{ recipeDetails.recipe }}
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content style="background: whitesmoke">
  
  <ion-card>
    <ion-item>
      <h2>{{ recipeDetails.recipe }}</h2>
      <p>{{ recipeDetails.category }}</p>
    </ion-item>

    <img src="{{ baseUrl + '/assets/images/' + recipeDetails.img_url }}">
  </ion-card>

  <ion-card>
    <ion-card-header>Ingredients</ion-card-header>
    <ion-card-content>
      <div [innerHTML]="recipeDetails.ingredients"></div>
    </ion-card-content>
  </ion-card>

   <ion-card>
    <ion-card-header>Instructions</ion-card-header>
    <ion-card-content [innerHTML]="recipeDetails.instructions"></ion-card-content>
    <ion-row>
      <ion-col>
        <button ion-button icon-left clear small>
          <ion-icon name="heart"></ion-icon>
          <div>Save recipe</div>
        </button>
      </ion-col>
    </ion-row>
  </ion-card>

</ion-content>
